# dependencies
/node_modules
/onboarding-project/node_modules
/backend/node_modules
/.pnp
.pnp.js

# testing
/coverage
/onboarding-project/coverage

# production
/build
/onboarding-project/build
/dist
/onboarding-project/dist

# environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/onboarding-project/.env
/onboarding-project/.env.local
/backend/.env
/backend/.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 